.navbar {
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-bottom: 0.16rem solid var(--grey);
  box-shadow: 0 0.32rem 0.25rem var(--grey);
  height: 4.5rem;
  padding: 1.5rem 14.8rem 1.7rem 15.8rem;
  justify-content: flex-start;
  gap: 5rem;
}

.desktopNavbar {
  display: flex;
}

.navbarLinks {
  display: flex;
}

.userName {
  font-size: 2rem;
  letter-spacing: 0.096rem;
}

.mobileNavbar {
  display: none;
}

@media (max-width: 1224px) {
  .desktopNavbar {
    display: none;
  }

  .navbar {
    padding: 1.75rem 16rem;
    justify-content: space-between;
    gap: 0;
  }

  .mobileNavbar {
    display: flex;
    padding: 1.75rem;
  }

  .mobileNavbar > li {
    margin-left: 2rem;
  }
}
