:root {
  --font-family: Arial, Helvetica, sans-serif;
  --white: #ffffff;
  --blue: #00ade6;
  --grey: #dfe3e8;
  --light-grey: #f2f5f8;
  --black: #253139;
  color: var(--black);
}

html {
  background-color: var(--white);
}

body {
  margin: 0;
  font-family: var(--font-family);
}

@media (max-width: 820px) {
  html {
    background-color: var(--light-grey);
  }
}
