:root {
  --font-family: Arial, Helvetica, sans-serif;
  --white: #ffffff;
  --blue: #00ade6;
  --grey: #dfe3e8;
  --light-grey: #f2f5f8;
  --black: #253139;
  color: var(--black);
  font-size: 8px;
}

@media (min-width: 376px) {
  :root {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  :root {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  :root {
    /*font-size: 16px;*/
  }
}

@media (min-width: 1224px) {
  :root {
    font-size: 8px;
  }

  html {
    background-color: var(--white);
  }
}

@media (min-width: 1500px) {
  :root {
    font-size: 10px;
  }
}

@media (min-width: 1760px) {
  :root {
    font-size: 12px;
  }
}

@media (min-width: 2350px) {
  :root {
    font-size: 16px;
  }
}

html {
  background-color: var(--light-grey);
}

body {
  margin: 0;
  font-family: var(--font-family);
}
